$clayColor: #9b1d04;
$pumpkinColor: #ff3800;
$tangerineColor: #ff8000;
$mintColor: #00f0a9;
$coffeeColor: #0b0c0b;
$sunsetGradient: linear-gradient(
  130.72deg,
  $tangerineColor 33.33%,
  $pumpkinColor 100%
);
$tealColor: #00a373;
$forestColor: #06504a;
$slateColor: #6c7a96;
