@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..700;1,100..900&family=Nunito:wght@400&display=swap');

$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
